.comments-styles{
   border: solid 1px black;
   padding: 15px; 
   margin-bottom: 10px;
   width: 95%;
   margin-left: 25px;
}
label{
    padding: 20px;
}
input{
    margin-bottom: 10px;
}
#submitbutton{
    margin-left: 20px;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
#oneonone-heading{
font-size: 17px;
margin-bottom: 10px;
}
.comments{
    margin-left: 50px;margin-bottom: 10px;
}